

<div class="s009">
    <form action="javascript:void(0);">
        <div class="inner-form">
            <div class="basic-search">
                <div class="input-field">
                    <input id="search" type="text" placeholder="Type Keywords" />
                    <div class="icon-wrap">
                        <svg class="svg-inline--fa fa-search fa-w-16" fill="#ccc" aria-hidden="true" data-prefix="fas"
                            data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                            </path>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="advance-search">
                <div class="row">
                    <div class="input-field">
                        <input style="display: inline;" id="date_check" type="checkbox" name="datecheck">
                        <span style="display: inline;" class="desc">  Created At</span>
                        <div style="display: none;" class="hi1">
                            <label for="start_Date">Start Date</label>
                            <input id="start_date" style="margin: 0; padding: 0; width: auto; height: auto;" name="start_date" type="date"/>
                            <label for="start_Date">End Date</label>
                            <input id="end_date" style="margin: 0; padding: 0; width: auto; height: auto;" name="start_date" type="date"/>
                            
                        </div>
                    </div>
                    <div class="input-field">
                        <input style="display: inline;" id="location_check" type="checkbox" name="datecheck">
                        <span style="display: inline;" class="desc">  Location</span>
                        <div style="display: none;" class="hi2">
                            <label for="lon">Longitude</label>
                            <input id="lon" style="margin: 0; padding: 0; width: auto; height: auto;" name="start_date" type="number" min="-180" max = "180" step="any" value="0"/>
                            <label for="start_Date">Latitude</label>
                            <input id="lat" style="margin: 0; padding: 0; width: auto; height: auto;" name="start_date" type="number" min="-90" max = "90" value = "0" step="any"/>
                            <label for="radius">radius</label>
                            <input id="radius" style="margin: 0; padding: 0; width: auto; height: auto;" name="start_date" type="number" min="1"  value = "1"/>
                            
                        </div>
                    </div>
                </div>


                <div class="row third">
                    <div class="input-field">
                        <div class="result-count">
                        </div>
                        <div class="group-btn">
                            <button class="btn-delete" id="delete">RESET</button>
                            <button (click)="search()" class="btn-search">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div style="display: flex; justify-content:center">
    <button id="convert_button"  class="btn-search" (click)="map_table_convert()" style="
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    "> 
        Map
    </button>
    
</div>

<div id="demo" >

    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created At</th>
                    <th>Text</th>
                    <th>location</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tweet of tweets">
                    <td data-title="id">{{tweet['id']}}</td>
                    <td data-title="created_at">{{tweet['created_at']}}</td>
                    <td data-title="text">{{tweet['text']}}</td>
                    <td data-title="geo">{{tweet['coordinates']?tweet['coordinates']['coordinates']:0}}</td>
                    <td data-title="score">{{tweet['score']}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div> 

<div class="map-setting-container" id="map-setting-container" style="display: none;" >
    <div class="map-container" id="map-container" >
        <div class="map" id="my-map"></div>
    
    </div>
    <div class="settings">
       <button>
        show circle
       </button>
    </div>
</div>



