
<div class="splitter">
    <div class="map-container left" id="map-container"  id="left" >
        <div class="map" id="my-map"></div>
    </div>
    <div class="right" id="right" >
        <div class="chart-up" id="word-cloud">
            <!-- <angular-tag-cloud [data]="cloud_data" [width]="options.width" [height]="options.height" [overflow]="options.overflow" [zoomOnHover]="zoomOnHoverOptions" ></angular-tag-cloud> -->
        </div>
        <div class="details-buttom" id="bar-plot">
    </div>
</div>







